body {
  padding: 100px;
}

h1 {
  border-bottom: 1px solid gray;
}
/* View: Student list */
.students {
  list-style: none;
}

.students li {
  clear: both;
  height: 50px;
  padding-top: 15px;
}

/* View: stident detail */
.student {
  background-color: white;
  border: 1px solid black;
  float: left;
  height: 400px;
  margin-bottom: 2em;
  margin-right: 3em;
  padding: 2em;
  width: 400px;
}

.lockers {
  list-style: none;
}

.lockers li {
  clear: both;
  height: 50px;
  padding-top: 15px;
}

/* View: locker detail */
.locker {
  background-color: white;
  border: 1px solid black;
  float: left;
  height: 400px;
  margin-bottom: 2em;
  margin-right: 3em;
  padding: 2em;
  width: 400px;
}
