body {
  padding: 100px;
}

h1 {
  border-bottom: 1px solid gray;
}

.tableheader {
  cursor: pointer;
}
/* View: Student list */
.students {
  list-style: none;
}

.students li {
  clear: both;
  height: 50px;
  padding-top: 15px;
}

/* View: stident detail */
.student {
  background-color: white;
  border: 1px solid black;
  float: left;
  height: 400px;
  margin-bottom: 2em;
  margin-right: 3em;
  padding: 2em;
  width: 400px;
}

.lockers {
  list-style: none;
}

.lockers li {
  clear: both;
  height: 50px;
  padding-top: 15px;
}

/* View: locker detail */
.locker {
  background-color: white;
  border: 1px solid black;
  float: left;
  height: 400px;
  margin-bottom: 2em;
  margin-right: 3em;
  padding: 2em;
  width: 400px;
}


/*student detail form editing...*/
form[name="editableForm"] > div {
  height: auto;
  padding: 5px 0;
}

form[name="editableForm"] .title {
  display: inline-block;
  font-weight: bold;
  padding-top: 5px;
  vertical-align: top;
  min-width: 90px;
}

form[name="editableForm"] .editable {
  display: inline-block;
  padding-top: 5px;
  vertical-align: top;
}

form[name="editableForm"] select {
  width: 120px;
}
