<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
    <!-- sidebar content -->
      <p>Search:  <input ng-model="$ctrl.query" /></p>
      <!-- <p>Sort By:
        <select ng-model="$ctrl.orderProp">
          <option value="firstname">First Name</option>
          <option value="idnumber">ID Number</option>
          <option value="lastname">Last Name</option>
        </select>
      </p> -->
    </div>
    <div class="col-md-10">
      <!-- body -->
      <table class="table table-striped table-hover table-condensed table-responsive">
        <thead>
          <tr>
            <th>
              <div class="tableheader" href="#" ng-click="$ctrl.orderProp = 'id'; $ctrl.reverseSort = !$ctrl.reverseSort">
                ID
                <span ng-show="$ctrl.orderProp === 'id' && !$ctrl.reverseSort" class="glyphicon glyphicon-triangle-bottom"></span>
                <span ng-show="$ctrl.orderProp === 'id' && $ctrl.reverseSort" class="glyphicon glyphicon-triangle-top"></span>
              </div>
            </th>
            <th>
              <div  class="tableheader" href="#" ng-click="$ctrl.orderProp = 'firstname'; $ctrl.reverseSort = !$ctrl.reverseSort">
                First
                <span ng-show="$ctrl.orderProp === 'firstname' && !$ctrl.reverseSort" class="glyphicon glyphicon-triangle-bottom"></span>
                <span ng-show="$ctrl.orderProp === 'firstname' && $ctrl.reverseSort" class="glyphicon glyphicon-triangle-top"></span>
              </div>
            </th>
            <th>
              <div  class="tableheader" href="#" ng-click="$ctrl.orderProp = 'lastname'; $ctrl.reverseSort = !$ctrl.reverseSort">
                Last
                <span ng-show="$ctrl.orderProp === 'lastname' && !$ctrl.reverseSort" class="glyphicon glyphicon-triangle-bottom"></span>
                <span ng-show="$ctrl.orderProp === 'lastname' && $ctrl.reverseSort" class="glyphicon glyphicon-triangle-top"></span>
              </div>
            </th>
            <th>
              <div  class="tableheader" href="#" ng-click="$ctrl.orderProp = 'advisory'; $ctrl.reverseSort = !$ctrl.reverseSort">
                ADV
                <span ng-show="$ctrl.orderProp === 'advisory' && !$ctrl.reverseSort" class="glyphicon glyphicon-triangle-bottom"></span>
                <span ng-show="$ctrl.orderProp === 'advisory' && $ctrl.reverseSort" class="glyphicon glyphicon-triangle-top"></span>
              </div>
            </th>
            <th>
              <div  class="tableheader" href="#" ng-click="$ctrl.orderProp = 'grade'; $ctrl.reverseSort = !$ctrl.reverseSort">
                Grade
                <span ng-show ="$ctrl.orderProp === 'grade' && !$ctrl.reverseSort" class="glyphicon glyphicon-triangle-bottom"></span>
                <span ng-show="$ctrl.orderProp === 'grade' && $ctrl.reverseSort" class="glyphicon glyphicon-triangle-top"></span>
              </div>
            </th>
          </tr>
        </thead>
      <tbody>
        <tr class='clickable-row' ng-click="$ctrl.goto(student.id)" style="cursor:pointer" ng-repeat="student in $ctrl.students | filter:$ctrl.query | orderBy:$ctrl.orderProp:$ctrl.reverseSort">
          <td>{{student.id}}</td>
          <td>{{student.firstname}}</td>
          <td>{{student.lastname}}</td>
          <td>{{student.advisory}}</td>
          <td>{{student.grade}}</td>
        </tr>
      </tbody>
    </table>
    </div>
  </div>
</div>
